@CHARSET "ISO-8859-1";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

* {
				font-family: Georgia !important;
			}
			
			
			h1, h2, h3, h4, h5, h6{
			
			font-family: Georgia;
			
			}
			
			p{
			
			font-size: 16px;
			}