@CHARSET "ISO-8859-1";

.body{
	
	background: #E9E9E9;
}

.main{
	
	width: 90%;
	height: auto;
	background: white;
	box-shadow: 5px 5px 15px #aaaaaa;
	border-radius: 3px;
	padding: 20px 0px;
}



.feedback{
	
	width: 90%;
	height: auto;
	border-radius: 3px;
	padding: 20px;
	background:#EEEEEE ;
	text-align: left;
	margin-bottom:20px;
}

hr{
	
	height: 2px solid black;
}